{% load staticfiles %}
{% load bootstrap_themes %}
<html>
    <head>
        <title>Social Media Manager | eMAM</title>
        {% bootstrap_styles theme='default' type='min.css' %}
        <script src="{% static 'emam/js/jquery.min.js' %}"></script>
        <link href="{% static 'emam/css/font-awesome.min.css' %}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="navbar-brand"><strong>Social Media Manager</strong></div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'social_media_share' %}">Facebook Posts</a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <p class="navbar-text"><font color="#999">Welcome,</font> <strong>{{ user.username }}</strong></p>
                            </li>
                            <li><a href="{% url 'logout' %}">Logout <i class="fa fa-sign-out"></i></a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                {% endif %}
            </div><!-- /.container-fluid -->
        </nav>

        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- Modal Start for editing all-->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="formTitle"> </h4>
                    </div>
                    <div id="datatResult">
                        ...
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal editing End-->
        <div class="shadow-backdrop"> </div>
        <!--  container html picked before editing for display loader -->
        <div class="loader" style="display:none">
            <p class='text-center'><img src="{% static 'emam/images/ajax-loader.gif' %}" class='processing'/> </p>
        </div>
 </body>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location;

            {% comment %}if (url.pathname == "{% url 'getty_callback' %}") {
                data = url.hash.substring(1)

                if (data) {
                    $('.shadow-backdrop').show()
                    $('.loader').show()
                    $.get("{% url 'getty_login_token' %}" + "?" + data, function(data) {
                        window.location = "{% url 'index' %}?message=" + data.message + "&message_type=" + data.status;
                    })
                } else {
                    window.location = "{% url 'index' %}"
                }
            }{% endcomment %}

            $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
            $('ul.nav a').filter(function() {
                 return this.href == url;
            }).parent().addClass('active');

        });

    </script>
    <script src="{% static 'emam/js/custom.js' %}"></script>
    <script src="{% static 'emam/js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'emam/js/jquery.validate.min.js' %}"></script>
    <link href="{% static 'emam/css/bootstrap-multiselect.css' %}" rel="stylesheet">
    <link href="{% static 'emam/css/custom.css' %}" rel="stylesheet">

    {% bootstrap_script use_min=True %}

</html>