{% load static %}

{% if error %}
    <div class="well alert-danger" role="alert">{{ error }}</div>
{% elif not fb_accounts %}
    <div class="well alert-danger" role="alert">
        No facebook account connected! Please check your connections
        <a href="{% url 'home' %}">here</a>.
    </div>
{% else %}
    <script type="text/javascript">
        $('.drop-down').multiselect();

        function get_fb_pages() {
            url = $('.fb-accounts').data('route')
            fb_account_id = $('.fb-accounts').val()
            $('.post-to-fb-submit').val('loading..').attr('disabled', 'disabled')
            $.get(url + '?social_account_id=' + fb_account_id, function(data) {
                $('.post-options').html(data).multiselect('rebuild')
                $('.post-to-fb-submit').val('Post to Facebook').removeAttr('disabled')
            })
        }
        $(function() {
            $("#fb-post").validate();
            get_fb_pages()
            $('form').submit(function() {
                form_data = $(this).serialize()
                $('.post-to-fb-submit').val('Uploading..').attr('disabled', 'disabled')
                $('#submit-message').removeClass('hide').addClass('alert-info').show()
                $('#submit-info-message')
                $.post($(this).data('action'), form_data, function(data) {

                    if (data.status_code == 500) {
                        $('#submit-message').addClass('alert-danger').html(data.message)
                    }
                    if (data.status_code == 200) {
                        $('#submit-message').addClass('alert-info').html(data.message)
                    }
                    if (data.status_code == 201) {
                        $('#submit-message').addClass('alert-success').html(data.message)
                        $('.post-to-fb-submit').remove()
                    }

                    $('.post-to-fb-submit').val('Post to Facebook').removeAttr('disabled')

                    if (data.status_code == 0) {
                        $('#submit-message').addClass('alert-success').html(data.message)
                        $('.post-to-fb-submit').remove()
                    }
                })
                return false
            })

            jQuery.each(jQuery('textarea[data-autoresize]'), function() {
                var offset = this.offsetHeight - this.clientHeight;

                var resizeTextarea = function(el) {
                    jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
                };
                jQuery(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
            });
        })

    </script>
    <div id="submit-message" class="hide alert" role="alert">
        Your request has been submitted. Upload status will be updated soon.
    </div>
    <form id="fb-post" data-action="{% url 'post_to_fb' %}" class="form-horizontal">

        <div class="modal-body">

            {% csrf_token %}
            <div id="pages"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="fb_account" class="control-label">Facebook Account</label>
                </div>
                <div class="col-sm-5">
                    <select id="fb_account" name="fb_account_id" class="fb-accounts drop-down form-control" data-route="{% url 'fb_user_pages' %}" onchange="get_fb_pages()">
                        {% for fb_account_id, fb_account_name in fb_accounts.items %}
                            <option value="{{ fb_account_id }}">{{ fb_account_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-5">
                    <select id="post-options" name="page_id" class="form-control drop-down post-options"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea rows="1" data-autoresize name="title" class="form-control" title="Say something about this {{ asset_mime_type }}..." placeholder="Say something about this {{ asset_mime_type }}..."></textarea>
                </div>
            </div>
            <input type="hidden" name="upload_detail_id" value="{{ upload_id }}">

            <div id="videos" class="">
                {% if not attachment_thumbnail %}
                    <!-- if no thumbnail present -->
                    <img class="img-thumbnail" width="100" height="100" alt="No Thumbnail" src="{% static 'emam/images/no_thumbnail.png' %}">
                {% else %}
                    <img class="img-thumbnail" width="100" height="100" alt="No Thumbnail" src="data:image/png;base64,{{ attachment_thumbnail }}">
                {% endif %}

                {% if asset_mime_type == 'video' %}
                    <span></span>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="post-to-fb-submit pull-right btn btn-sm btn-primary" value="Post to Facebook">
        </div>
    </form>
{% endif %}
