<option value="-1">On your own Timeline</option>

{% if fb_post_options %}
    <option data-role="divider"></option>
    <optgroup label="Pages">
        {% for id, value in fb_post_options.items %}
            <option value="{{ id }}">{{ value }}</option>
        {% endfor %}
    </optgroup>
{% endif %}