{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if just_logged_out %}  You are successfully logged out {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">{{ message|escape }}</div>
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" role="form">
                            <fieldset>
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your eMAM username" autofocus type="text" name="username" required id="id_username" maxlength="255" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your eMAM password" type="password" name="password" required id="id_password" />
                                </div>
                                <button class="btn btn-success btn-block" type="submit">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}