{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load i18n %}
{% load custom_social_connections %}

{% block content %}
    <div id="add-member" class="hide">
        <h4 class="combo-label">Add Members</h4>
            <form name="myForm" method="post" action="{% url 'add_new_members' %}?social_account={{social_account}}&getty_status={{getty_status}}">
                {% csrf_token %}
                <select name="users" multiple class="form-control">
                    {% if users_to_add %}
                        {% for user in users_to_add %}
                            <option value="{{user.id}}">{{ user.username }}</option>
                        {% endfor %}
                    {% else %}
                         <option value="No users" disabled>Currently Users are not available.</option>
                    {% endif %}
                </select>
                <p><i><font color="grey">(NOTE: If you can't see the desired user in above list then you can enter the user email below & click submit.)</font></i></p>
                <textarea placeholder='Enter user email' style="margin-top: 20px" name="create-user-email" rows="1"></textarea>
                <p><i><font color="grey">(NOTE: Multiple users can be added using " ," separator. )</font></i></p>
                <input type="submit" class="btn btn-sm btn-success " value="Submit">
            </form>
    </div>
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">{{ message|escape }}</div>
            {% endfor %}
    <div class="row">
        {%if messages%}
            <button style="margin-bottom: 16px" type="button" onclick="$('#add-member').toggleClass('show')" class="btn btn-primary pull-right">+ Add Member</button>
        {% else %}
            <button style="margin-bottom: 16px" type="button" onclick="$('#add-member').toggleClass('hide')" class="btn btn-primary pull-right">+ Add Member</button>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            {% if linked_users %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr class="warning">
                            <th>User</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for user in linked_users %}
                            <tr>
                                {% if user.user_username %}
                                    <td>{{user.user_username}}</td>
                                {% else %}
                                    <td>{{user.user.username}}</td>
                                {% endif %}
                                {% if user.is_active %}
                                    <td>Active</td>
                                    <td>
                                        <a class="btn btn-danger btn-xs" onclick="return confirm('This action will restrict {{user.user.username}} to post on this {{user.social_account.provider}} account.')"  href="{% url 'edit_user'%}?social_member_id={{user.pk}}">Deactivate</a>
                                        <a class="btn btn-danger btn-xs" onclick="return confirm('This action will remove the user.')"  href="{% url 'remove_user'%}?social_member_id={{user.pk}}">Remove</a>
                                    </td>
                                {% else %}
                                    <td>Inactive</td>
                                    <td>
                                        <a class="btn btn-success btn-xs" onclick="return confirm('This action will activate {{user.user.username}} to post on this {{user.social_account.provider}} account.')"  href="{% url 'edit_user'%}?social_member_id={{user.pk}}">Activate</a>
                                        <a class="btn btn-danger btn-xs" onclick="return confirm('This action will remove the user.')"  href="{% url 'remove_user'%}?social_member_id={{user.pk}}">Remove</a>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <p class="alert alert-info"><i>{% trans 'You currently have no users connected.' %}</i></p>
            {% endif %}
    </div>
        </div>
    </div>

{% endblock %}
