{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if upload_assets %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr class="warning">
                            <th>Upload To</th>
                            <th>Upload To Account</th>
                            <th>Attached Asset</th>
                            <th>Posted On</th>
                            <th>Upload Status</th>
                            <th>Actions</th>
                        </tr>
                        {% for upload_asset in upload_assets %}
                            <tr>
                                <td>{{ upload_asset.upload_to|title }}</td>
                                <td>{{ upload_asset.upload_to_account }}</td>
                                <td>{{ upload_asset.asset_detail.asset_source_unquoted_url }}</td>
                                <td>{{ upload_asset.uploaded_at }}</td>
                                <td>{{ upload_asset.upload_status|title }}</td>
                                <td>
                                    {% if upload_asset.upload_status == 'pending' or upload_asset.upload_status == 'error' %}
                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm popup-modal"
                                           data-name="Post on Facebook" data-route="{% url 'fb_modal' %}?upload_id={{upload_asset.id}}">
                                            Post on Facebook
                                        </a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <p class="alert alert-info"><i>{% trans 'You currently have no request for Facebook!' %}</i></p>
            {% endif %}
        </div>
    </div>
{% endblock %}