{% extends "base.html" %}
{% load account %}
{% load socialaccount %}
{% load i18n %}
{% load custom_social_connections %}
{% load getty_multiple_accounts %}
{% load member_of_accounts %}


{% block content %}
    <div class="col-md-12" xmlns="http://www.w3.org/1999/html">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">{{ message|escape }}</div>
        {% endfor %}
        <h2>Dashboard</h2>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connect Social Accounts <span class="caret"></span>
            </button>
            <ul class="socialaccount_providers dropdown-menu">
                {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
               {% comment %} <li>
                    <a title="Getty" href="{% url 'getty_login' %}">Getty</a>
                </li>{% endcomment %}
            </ul>
        </div>
        <div class="page-header"></div>

        <div class="panel panel-default">
            <div class="panel-heading">Connected Social Accounts</div>
            <div class="panel-body">
               {% if form.accounts %}
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}

                        <fieldset>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
                            {% endif %}

                            <div class="list-group">
                                {% for base_account in form.accounts %}
                                    {% with base_account.get_provider_account as account %}
                                        <div class="list-group-item list-group-item-warning">
                                            <h4 class="list-group-item-heading">{{account.get_brand.name}}</h4>
                                            <p class="list-group-item-text">
                                                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                                                {{ account }}
                                                {% if base_account.extra_data.email %}
                                                    ({{base_account.extra_data.email}})
                                                {% elif base_account.extra_data.emailAddress %}
                                                    ({{base_account.extra_data.emailAddress}})
                                                {% endif %}
                                                <a href="{% url 'social_account_multiple_users' %}?social_account={{base_account.pk}}&getty_status=0" class="btn btn-primary btn-xs pull-right">Manage Members {{count}}</a>
                                            </p>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                            <div>
                                <button type="submit" class="btn btn-danger btn-sm">{% trans 'Disconnect' %}</button>
                            </div>
                        </fieldset>
                    </form>
                {% else %}
                    <p><i>{% trans 'You currently have no social account connected with us!' %}</i></p>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Connected Getty Accounts</div>
            <div class="panel-body">
                {% getty_user_accounts user.id as getty_user_accounts %}
                {% if getty_user_accounts %}
                    <form method="post" action="{% url 'getty_account_disconnect' %}">
                        {% csrf_token %}

                        <fieldset>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
                            {% endif %}
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <div class="list-group">
                                {% for getty_user_account in getty_user_accounts %}
                                    <div class="list-group-item list-group-item-warning">
                                        <p class="list-group-item-text">
                                            <input type="radio" name="getty_token_id" value="{{ getty_user_account.id }}"/>
                                            {{ getty_user_account.account_name }}
                                             <a href="{% url 'social_account_multiple_users' %}?social_account={{getty_user_account.id}}&getty_status=1" class="btn btn-primary btn-xs pull-right">Manage Members</a>
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div>
                                <button type="submit" class="btn btn-danger btn-sm">{% trans 'Disconnect' %}</button>
                            </div>
                        </fieldset>
                    </form>
                {% else %}
                    <p><i>{% trans 'You currently have no gettyImages account connected with us!' %}</i></p>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Member of accounts</div>
            <div class="panel-body">
                {% member_of_accounts user.id as member_of_accounts %}
                {% if member_of_accounts %}
                    <form method="post" action="{% url 'getty_account_disconnect' %}">
                        {% csrf_token %}

                        <fieldset>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
                            {% endif %}
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <div class="list-group">
                                {% for member_of_account in member_of_accounts %}
                                    {% with member_of_account.social_account.get_provider_account as account %}
                                    <div class="list-group-item list-group-item-warning">
                                        <p class="list-group-item-text">
                                            {%if member_of_account.social_account %}
                                        <h4 class="list-group-item-heading">{{account.get_brand.name}} (<em style="font-size:12px">Connected by:</em> {{ member_of_account.social_account.user}})</h4>
                                                &#9864; {{ member_of_account.getty_account.user}}
                                                {{ account }}
                                            {% elif member_of_account.getty_account %}
                                                <h4 class="list-group-item-heading">Getty (<em style="font-size:12px">Connected by:</em> {{ member_of_account.getty_account.user}})</h4>
                                                &#9864;
                                                    {{ member_of_account.getty_account.extra_data }}
                                            {% endif %}
                                            <a onclick="return confirm('This action will restrict you to post on this {{account.get_brand.name}} account.')" href="{% url 'remove_user'%}?social_member_id={{member_of_account.pk}}" class="btn btn-danger btn-xs pull-right">Remove</a>
                                        </p>
                                    </div>
                                    {% endwith %}
                                {% endfor %}
                        </div>
                        </fieldset>

                    </form>
                {% else %}
                    <p><i>{% trans 'Currently you are not a member of any social account!' %}</i></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}