textarea {
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
}

#videos img {
  position: relative;
}
#videos span {
  width: 16%;
  height: 33%;
  position: absolute;
  background: url('../images/play_button.png') no-repeat;
  background-position: 49% 50%;
  background-size: 48%;
  left: 3%;
}
@media screen and (max-width: 480px) {
  #videos span {
    background-size: 400%;
  }
}

.shadow-backdrop {
    background-color: #fff;
    bottom: 0;
    display: none;
    opacity: 0.5;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 111;
    transition: opacity 0.15s linear 0s;
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hide {
    display: none
}